<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnfiniL.SqlExpressProfiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnfiniL.SqlExpressProfiler.Properties.Settings>
            <setting name="EnableAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatesLastCheck" serializeAs="String">
                <value>2007-08-01</value>
            </setting>
            <setting name="LastServerName" serializeAs="String">
                <value>.\sqlexpress</value>
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="LastWindowsAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoResizeColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceEvents" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
        </AnfiniL.SqlExpressProfiler.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
